/* links Color */
a,
.nav-button,
.navigation ul li a,
.navigation ul li.active a,
.portfolio ul li.active,
.portfolio ul li:hover,
.button-toggle:hover,
.portfolio,
.nav-button,
.navigation ul li:hover a
{
    color: #FFF;
}


/******************** Color 3 *******************/
/* Color 3 B-G */
.navigation ul li:hover
{
    background-color: #032E3A;
}
/******************** End Color 3 *******************/




/******************** Color 1 ********************/

/* Background Color 1 */
.navigation ul li.active,
.home,
.portfolio,
.contact,
.contact ul li a:hover,
.navigation button:hover,
.navigation .color-box
{
    background-color: #032E3A;
}

/* MAin Color 1*/
.navigation ul li:hover,
.contact button.form-control
/*#about .skills h3*/
{
    color: #032E3A;

}    
/******************** End Color 1 *******************/








/******************** Color 2 *******************/

/* background Color 2 */
.navigation,
.nav-button:hover,
.portfolio ul li.active,
.portfolio ul li:hover,
.contact button.form-control,
.contact ul li a,
.button-toggl
{
    background-color: #F2C927
}

/* MAin Color 2*/
.navigation ul li.active,
.contact .form-control,
#about .who-im,
.portfolio ul li,
.contact h2,
.contact ul li a:hover,
.contact .footer,
.footer a
{
    color: #F2C927
}

/* border Color 2*/
.portfolio ul li 
{
    border: 2px solid #F2C927;
}
.contact .form-control,
.contact ul li a,
.contact ul li a:hover,
#home .avatar img,
.portfolio .work img
{
    border: 1px solid #F2C927;    
}
/* Color 3  text */
.home .tito,
.footer a:hover
{
    color: #F2C927;
}
/******************** End Color 2 *******************/













/* Skills Color */
#about .skills 
{
    background-color: rgba(28,49,68,0.1);
}
#about .skills .progress{
    background-color: rgba(28,49,68,0)
}
/* Progress Color  */
#about .skills .progress-bar
{
    background-color: rgba(0,0,0,0.4);

}
/* Skills li Color */
#about .who-im .heading h2,
#about .skills ul li,
.portfolio .footer,
.about .footer,
#about .skills .progress-bar
{
    color: #70C1a2;
}






/* Gradient */
.gradient{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #032E3A), color-stop(95%, rgba(0,0,0,0))),
    -webkit-gradient(linear, left top, right top, color-stop(30%, #032E3A), color-stop(65%, rgba(0,0,0,0)));
    background: linear-gradient(to top, #032E3A 5%, rgba(0,0,0,0) 95%),
    linear-gradient(to right, #032E3A 30%, rgba(0,0,0,0) 65%);
}






/* Comming Soon */
.portfolio .coming h3,
.portfolio .not-yet h3
{
    color: #DDD;
}
